@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Barlow", sans-serif;

  @apply bg-[#FBEAFF] text-[#5f27cd];
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
